<h1><%= @user.username %></h1>
<h2><%= @user.name %></h2>
<h2><%= @user.email %></h2>

<p><%= @user.bio %></p>

<% if current_user && current_user.id == @user.id %>
  <h2>Your Posts:</h2>
  <%= render current_user.posts.reverse %>

  <%= render 'devise/menu/registration_items' %>
<% end %>