<h1>Write a post</h1>

<% if @post.errors.any? %>
  <ul>
  <% @post.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
  <% end %>
</ul>
<% end %>

<%= form_for @post do |f| %>
  <%= f.text_field :text, :placeholder => "Tell your story." %>

  <% @tags.each do |tag| %>
    <%= label_tag tag.tag %>
    <%= check_box_tag "post[tag_ids][]", tag.id %>
  <% end %>

  <%= f.submit 'Post' %>

<% end %>